@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Martian+Mono&display=swap');
.App {
  text-align: center;
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.icon {
  height: 25px;
  width: 25px;
  margin-right: 2px;
}

.icon:hover {
  cursor: pointer;
}

.timer {
  font-size: 30px;
}

.tomato {
  margin-right: 2px;
}

.big-icon {
  width: 30px;
  height: 30px;
}

.small-tomato {
  height: 25px;
  padding-right: 2px;
}

.pfp-image {
  border-radius: 100px;
}

.start-button {
  background-color: none;
  border: none;
  background: none;
  margin-right: 10px;
}

.start-button:hover {
  cursor: pointer;
  opacity: 50%;
}

* {
  font-family: 'Martian Mono', monospace;
}

.big-icon:hover{
  cursor: pointer;
  opacity: 50%;
}

.user-name {
  text-decoration: underline;
  font-style: italic;
}
.saveIcon {
  height: 21px;
  width: 21px;

  margin-left: 2px;
}

.saveIcon:hover {
  opacity: 50%;
  cursor: pointer;
}

.signout-button {
  margin-top: 30px;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 40px;
  border-radius: 50px;
}

.signout-button:hover {
  opacity: 50%;
  cursor: pointer;
}

.icon:hover{
  opacity: 50%;
}